[Unit]
Description=Gunicorn instance to serve {{project}}
After=network.target
[Service]
User={{username}}
Group=www-data
WorkingDirectory=/home/{{username}}/{{repo name}}
Environment="PATH=/home/{{username}}/{{repo name}}/venv/bin"
ExecStart=/home/{{username}}/{{repo name}}/venv/bin/gunicorn --workers 3 --bind unix:{{project}}.sock -m 007 wsgi:application
[Install]
WantedBy=multi-user.target
