[Unit]
Description=Gunicorn instance to serve PhotoBomb
After=network.target
[Service]
User=pbleile
Group=www-data
WorkingDirectory=/home/pbleile/CodingDojoPythonStack/PhotoBomb
Environment="PATH=/home/pbleile/CodingDojoPythonStack/PhotoBomb/venv/bin"
ExecStart=/home/pbleile/CodingDojoPythonStack/PhotoBomb/venv/bin/gunicorn --workers 3 --bind unix:PhotoBomb.sock -m 007 wsgi:application
[Install]
WantedBy=multi-user.target
